.flexed {
  display: flex;
}
.centered {
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
  color: gray;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  border-bottom: #f1f1f1;
  background: #f6f6f6;
  opacity: 85%;
}
.navigation .logo {
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.navigation .logo h1 {
  font-size: 5rem;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .navigation .logo h1 {
    font-size: 3.2rem;
  }
}
.navigation nav {
  display: flex;
  margin: 0 auto;
  width: 45%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .navigation nav {
    width: 80%;
  }
}
.navigation a {
  margin: 1rem 0rem 1rem 0rem;
  text-decoration: none;
  color: #454a59;
}
footer {
  color: #22283b;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro img {
  margin-top: 130px;
  width: 100%;
}
.home .intro h2 {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .intro h2 {
    margin: 0 auto;
  }
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .intro p {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    margin: 0 auto;
    width: 92%;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch,
  .home .space-images .sky {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 0px;
    width: 92%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    margin: 10px 0 10px 0;
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283a;
  width: 100px;
  border: 1px solid #585353;
  color: #f5ebeb;
  padding: 8px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s;
  text-align: center;
}
.home .walk .walk-text .btn:hover {
  color: #22283a;
  background-color: white;
  border: 1px solid #020510;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    background-color: #22283a;
    width: 100%;
    border: 1px solid #585353;
    padding: 15px 0;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .blog-style1 img {
  margin: 20px;
  width: 50%;
}
.home .blog-style1 h2 {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .blog-style1 h2 {
    margin: 0 auto;
  }
}
.home .blog-style1 p {
  padding: 0 15px;
  margin: 20px;
}
@media (max-width: 500px) {
  .home .blog-style1 p {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.home .ContactUs h2 {
  padding: 15px;
  text-align: center;
}
.home .ContactUs address {
  text-align: center;
  padding: 15px;
}
.home .About-Us img {
  margin: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 60px;
}
.home .About-Us h2 {
  padding: 15px;
  text-align: center;
}
@media (max-width: 500px) {
  .home .About-Us h2 {
    margin: 0 auto;
  }
}
.home .About-Us h3 {
  text-align: center;
  color: #dc6389;
}
.home .About-Us p {
  text-align: center;
  padding: 0 15px;
  margin: 20px;
}
@media (max-width: 500px) {
  .home .About-Us p {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
